@model IEnumerable<Myshop.core.Models.Order>
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-md-12">
        @(Html.Kendo().Grid<Myshop.core.Models.Order>()
    .Name("Ordergrid")
    .Columns(columns =>
    {
    columns.Bound(c => c.FirstName).Width(40);
    columns.Bound(c => c.SurName).Width(60).Title("LastName");
    columns.Bound(c => c.Email).Width(40);
    columns.Bound(c => c.City).Width(40);
    columns.Bound(c => c.State).Width(40);
    columns.Bound(c => c.ZipCode).Width(40);
    columns.Bound(c => c.OrderStatus).Width(40);
    //columns.Command(command => {command.Destroy(); }).Width(50);
    columns.Template(@<text></text>)
                                .ClientTemplate("<a href='" + Url.Action("UpdateOrder", "OrderManager") + "/#=Id#'><strong class='txtorder'>Manage Order</strong></a>").Width(40).Title("Action");
        })
                            .HtmlAttributes(new { style = "height: 550px;" })
                            .Scrollable()
                            .Groupable()
                            .Sortable()
                            .Pageable(pageable => pageable
                                .Refresh(true)
                                .PageSizes(true)
                                .ButtonCount(5))
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                .Read(read => read.Action("GetGridOrderData", "OrderManager"))
                                .PageSize(20)
            )
        )

    </div>
</div>

<script>
    $(function () {
        var grid = $("#Ordergrid").data("kendoGrid");
    });
</script>
